fastapi
uvicorn
sqlalchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
razorpay
python-multipart
pandas
openpyxl
pyodbc
python-dotenv
pydantic[email]
pydantic
sendgrid
setuptools
pydantic-settings